<!-- <app-navbar></app-navbar> -->
<div class="container text-center mt-5">
  <h2>Welcome to Cpay</h2>
  <p>Select an option below:</p>
  <div class="row justify-content-center mt-4">
      <!-- Login Card -->
      <div class="col-md-4">
          <div class="card shadow-sm h-100 d-flex flex-column">
              <div class="card-body d-flex flex-column justify-content-between">
                  <div>
                      <h5 class="card-title">Login</h5>
                      <p class="card-text">Access your account and manage your credit cards.</p>
                  </div>
                  <div class="mt-auto">
                      <a routerLink="/login" class="btn btn-custom w-100">Go to Login</a>
                  </div>
              </div>
          </div>
      </div>
      <!-- Register Card -->
      <div class="col-md-4">
          <div class="card shadow-sm h-100 d-flex flex-column">
              <div class="card-body d-flex flex-column justify-content-between">
                  <div>
                      <h5 class="card-title">Register</h5>
                      <p class="card-text">Create an account to explore our services.</p>
                  </div>
                  <div class="mt-auto">
                      <a routerLink="/register" class="btn btn-custom w-100">Go to Register</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Redirect Button -->
  <div class="row justify-content-center mt-5">
      <div class="col-12">
          <a href="./" class="btn btn-custom btn-lg px-5 py-3">Go Back Home</a>
      </div>
  </div>
</div>
